<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false">


    <variable name="logFile" value="C:/logs/helloworld-${shortdate}"/>

    <targets>
        <target xsi:type="File"
                name="fileTarget"
                fileName="C:/logs/helloworld-${shortdate}.log"
                layout="${longdate} level=${level} message=${message}"
                keepFileOpen="false"
                concurrentWrites="true"/>

        <target name="consoleTarget" xsi:type="Console" layout="${longdate} level=${level} message=${message}"/>
    </targets>

    <rules>
        <!-- <logger name="*" minlevel="Trace" writeTo="fileTarget" /> -->
        <logger name="*" minlevel="Trace" writeTo="consoleTarget"/>
    </rules>

</nlog>
