@using System.Reflection
@inherits AutoFormComponentBase

<div class="col">@PropertyInfo.Name</div><div class="col"><InputText id="name" @bind-Value="@Value" /></div>

@code {
    [Parameter]
    public PropertyInfo PropertyInfo { get; set; }
    
    public string Value { get; set; }

    public override void Apply(object obj)
    {
        var value = float.Parse(Value);
        PropertyInfo.SetValue(obj, value);
    }
}